<%= form_with(model: @album, local: true) do |form| %>
 
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :artist %>
    <%= form.text_field :artist %>
  </div>
  <div class="field">
    <%= form.label :release%>
    <%= form.text_field :release%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>